In [2]:
import pandas as pd
import geopandas as gpd
pd.set_option("display.max.columns", None)  # Show all the columns
pd.options.display.float_format = '{:20,.2f}'.format #Get rid of the scientific notation
import matplotlib.pyplot as plt
import shapely as shply

import geopandas

# Here, we add census-tract level health data to tract geometries

### Import our Data

In [4]:
#We need to decide what state we want to map here

importFile = 'df_factory_outputs/kidneyDF.csv'
tractShapefile = 'shapefiles/tennessee/cb_2017_47_tract_500k.shp'
outFile = 'shapefiles/kidney_tennessee.shp'

# tractShapefiles maybe from here: 'http://www2.census.gov/geo/tiger/GENZ2015/shp/cb_2015_06_tract_500k.zip

In [5]:
typesDict = {'TractFIPS': str}
df = pd.read_csv(importFile, dtype=typesDict)

In [7]:
#get the census tract boundaries (for histrorical reasons, tract shapefile variable called coTracts)
coTracts = gpd.read_file(tractShapefile)
coTracts['TractFIPS'] = coTracts['GEOID']
print ('Nubmer of rows in our tracts dataframe: ', len(coTracts))

# merge our health dataframe with our census tracts dataframe on FIPS codes
gdf = coTracts.merge(df, on='TractFIPS', how='left')
print('Number of tracts for which we have health data: ', len(gdf))
print(type(gdf))

gdf.head()

Nubmer of rows in our tracts dataframe:  1497
Number of tracts for which we have health data:  1497
<class 'geopandas.geodataframe.GeoDataFrame'>

,STATEFP,COUNTYFP,TRACTCE,AFFGEOID,GEOID,NAME,LSAD,ALAND,AWATER,geometry,TractFIPS,Unnamed: 0,CityName,DataSource,Data_Value,Data_Value_Type,Data_Value_Unit,GeographicLevel,Measure,MeasureId,PopulationCount,StateAbbr,Year
0,47,005,963000,1400000US47005963000,47005963000,9630,CT,329597575,59039980,"POLYGON ((-88.14557099999999 36.194808, -88.14...",47005963000,nan,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan
1,47,007,953000,1400000US47007953000,47007953000,9530,CT,293960519,277501,"POLYGON ((-85.29265699999999 35.412112, -85.29...",47007953000,nan,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan
2,47,009,010500,1400000US47009010500,47009010500,105,CT,3503866,0,"POLYGON ((-83.994776 35.749701, -83.9936319999...",47009010500,nan,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan
3,47,011,010500,1400000US47011010500,47011010500,105,CT,2244797,0,"POLYGON ((-84.88470000000001 35.159797, -84.88...",47011010500,nan,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan
4,47,013,950600,1400000US47013950600,47013950600,9506,CT,12436202,93467,"POLYGON ((-84.16479099999999 36.364422, -84.16...",47013950600,nan,NaN,NaN,nan,NaN,NaN,NaN,NaN,NaN,nan,NaN,nan

In [8]:
assert(len(gdf.loc[gdf['geometry'].isna()]) == 0)

## Write out Our File, now with Health Data + Tract Geographies

In [9]:
gdf.to_file(outFile)

/srv/app/venv/lib/python3.6/site-packages/geopandas/io/file.py:62: FionaDeprecationWarning: Use fiona.Env() instead.
  with fiona.drivers():